body {
    background-color: #CECECE;
}

.content {
    padding-top: 1rem;
    a {
	text-decoration: underline;
	background-color: transparent;
    }
}

.next, .prev {
    display: block;
}

.next {
    text-align: left;
}

.prev {
    text-align: right;
}

.crumbs {
    margin-bottom: 0.5rem;
    .crumb {
	display: inline;
    }
}

a {
    color: #444;
}
