img {
    display: block;
    text-align: center;
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
}

img[alt$='_icon'] {
    width: 30px !important;
    display: inline;
}

img[src*='#inline']  {
    display: inline;
}

img[src*='#w25']  {
    width: 24%;
}

img[src*='#w50']  {
    width: 48%;
}

img[src*='#w75']  {
    width: 72%;
}

img[src*='#w100']  {
    width: 100%;
}
