.navigation {
    top: 4rem;
    display: block;
    position: sticky;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    z-index: 1000;

    padding-top: 1rem;
    ul {
	padding-left: 0px;
	list-style-type: none;
	ul {
	    padding-left: 20px;

	}
    }

}

.active {
    font-weight: bold;
}
