// Major Second typographical rhythm from https://type-scale.com/

html {
    font-size: 100%; /*16px*/
}

body {
    background-color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #333;
}

pre, code, kbd {
    font-family: 'Fira Mono', monospace;
}

p {
    margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
    margin: 2.0rem 0 1.0rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1.title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.8em;
}

h1 {
    font-size: 2.2em;
}

h1+h2 {
   margin-top: 0;
}

h2 {
    font-size: 1.66em;
}

h2+h3 {
   margin-top: 0;
}

h3 {

    font-size: 1.333em;
}

h4,
h5,
h6 {
    color: $red;
    :before {
	content: "We only allow H1, H2, or H3 headings in body content."
    }
}

small, .text_small {
    font-size: 0.889em;
}

dd {
    margin-left: 20px;
}
