{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}


{{ partial "breadcrumbs.html" . }}

{{ partial "prev-next.html" . }}

<div class="row">
    <article role="main" class="col-8">

	<h1 class="title">
            {{ .Title | markdownify }}
	</h1>

	{{ .Content }}

	{{ if .IsTranslated }}
	<h4>{{ i18n "translations" }}</h4>
	<ul>
            {{ range .Translations }}
            <li><a href="{{ .RelPermalink }}">
		{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
            </a></li>
            {{ end }}
	</ul>
	{{ end }}
    </article>
    {{ if gt .WordCount 400 }}
    <aside class="page-toc col-4">
	<header>
	    <b>{{ i18n "onThisPage" . }}</b>
	</header>
	{{.TableOfContents}}
    </aside>
    {{ end }}

</div>

{{ partial "prev-next.html" . }}

{{ end }}
