{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}


<div>

    {{ .Content }}

    {{ if .IsTranslated }}
    <h3>{{ i18n "translations" }}</h3>
    <ul>
        {{ range .Translations }}
        <li><a href="{{ .RelPermalink }}">
            {{ .Language.LanguageName }}: {{ .Title }}{{ if .IsPage }}{{ end }}
        </a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>

{{ end }}
